


/* --------------------------- FOOTER ----------------------------- */
footer{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center ;

    position: relative;
    bottom : 0px;
    height: 100px;

}