h2{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

article h2{
    margin-bottom: 40px;
    margin-top: 15px;
}

.articles .parag1{
    float:left;
    width: 400px;
}

.articles .parag2{

    margin-left:60%
}

.articles .groupe1{
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 50px;
    width: 100%;
}

.solo{

    margin-left: 270px;
    width: 50%;
    text-align: center;
}

#yeux_biche{
    margin-left: 60%;
    width: 40%;
    margin-top: 90px;
}

article #japonisante{
    text-align: center;
}

article #pjap{
    margin-left: 40px;
}

table #tableau.table.table-hover{
    margin: auto;
}
table {
    text-align: center;
}

article{
    margin: auto;
    width: 100%;
}