/* --------------------------- HEADER MENU ----------------------------- */

header ul li{
    margin-left: 25px;
}

#univers_laduree{
    float: right;
}




/* --------------------------- CONTENT ----------------------------- */

article{
    margin-left: -180px;
    margin-top: 50px;

    float: left;
    width: 500px;

}

#img_content{
    margin-top: 200px;
    margin-left: 250px;

    height:  500px;
    width: 50%;
}



/* --------------------------- FOOTER ----------------------------- */
footer{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center ;

    position: relative;
    bottom : 0px;
    height: 100px;

}

footer ul {
    list-style: none;
}

footer ul li{
    display: inline-block;
    font-size: 20px;
}