/* --------------------------- HEADER MENU ----------------------------- */
h2,h3{
    padding: 10px;
}

p{
    padding: 10px;
}

#hide ul {
position: absolute;
display: none;
width: 200px;
}

#hide:hover ul{
    display: block;
}

#hide:hover ul li{
    color: white;
    background-color: #EB6864;
}

#btn-univers{
    margin-left: 275px;
}

header ul li{
    margin-left: 25px;
}

header .drop1,header .drop2{
    margin-left: -60px;
    color: black;
}

header .dropdown-item{
    visibility: visible;
}



/* --------------------------- CONTENT ----------------------------- */

article{
    margin-left: -180px;
    margin-top: 50px;

    float: left;
    width: 500px;

}

#img_content{
    margin-top: 200px;
    margin-left: 250px;

    height:  500px;
    width: 50%;
}



/* --------------------------- FOOTER ----------------------------- */
footer{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center ;

    position: relative;
    bottom : 0px;
    height: 100px;

}

footer ul {
    list-style: none;
}

footer ul li{
    display: inline-block;
    font-size: 20px;
}