/* --------------------------- HEADER MENU ----------------------------- */

header ul li{
    margin-left: 25px;
}

#univers_laduree{
    float: right;
}




/* --------------------------- CONTENT ----------------------------- */

article{
    margin-left: -5%;
    margin-top: 50px;

    float: left;
    width: 50%;

}

.hidden-md-down{
    margin-left: 20%;
}


#img_content{
    margin-top: 0%;
    margin-left: 20%;


    width: 60%;
}

.image{
    position: absolute;
    display: inline-block;
    bottom: -10%;
    left: 400px;
}




/* --------------------------- FOOTER ----------------------------- */
footer{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center ;

    position: relative;
    bottom : 0px;
    height: 100px;

}

footer ul {
    list-style: none;
}

footer ul li{
    display: inline-block;
    font-size: 20px;
}