/* --------------------------- HEADER MENU ----------------------------- */

h2,h3{
    padding: 10px;
}

p{
    padding: 10px;
}

#hide ul {
position: absolute;
display: none;
width: 200px;
}

#hide:hover ul{
    display: block;
}

#hide:hover ul li{
    color: white;
    background-color: #EB6864;
}

/* --------------------------- CONTENT ----------------------------- */

.salon-base article, .salon-base div{

    display: inline-block;
}

#img_content{

    height:  400px;
    width: 50%;
}



/* --------------------------- FOOTER ----------------------------- */
footer{

    position: relative;
    bottom : 0px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center ;
}

footer ul {
    list-style: none;
}

footer ul li{
    display: inline-block;
    font-size: 20px;
}