h2,h3{
    padding: 10px;

}

p{
    padding: 10px;
}

#hide ul {
position: absolute;
display: none;
width: 200px;
}

#hide:hover ul{
    display: block;
}

#hide:hover ul li{
    color: white;
    background-color: #EB6864;
}

footer{

    position: relative;
    bottom : 0px;
    height:60px;
    margin-top : 40px;
    text-align: center ;
    display: inline;
}

footer ul {
    list-style: none;
    display: inline;
}